*.o
*.lo
*.a
*.la
*.deps
*.libs
*.gz
*.orig
*~
.#*
.swp
autom4te.cache
config.log
config.status
config/config.h
config/stamp-h1
libtool
Makefile

# executables #
###############
lambda1
pair1
tuple1
tuple2
sharedptr1
sharedptr2
sharedptr3
weakptr1
weakptr2
uniqueptr1
limits1
minmax1
ratio1
clock1
chrono1
chrono2
timepoint1
vector1
deque1
array1
list1
list2
forwardlist1
multiset1
multimap1
unorderedmultiset1
unorderedmultimap1
associativearray1
list1old
set1
unorderedmultiset2
algo1
algo1old
find1
copy1
copy2
ioiter1
reviter1
remove1
remove2
remove3
remove4
foreach1
transform1
prime1
sort1
sort2
foreach2
add1
fo1
bind1
forwardlistfind1
forwardlistfind2
forwardlistsplice1
setrange1
setcmp1
map1
map2
mapfind1
mapcmp1
unordset1
unordmultiset1
hashfunc1
hashfunc2
unordinspect1
unordmultimap1
cstylearray1
cstylearray1old
refsem1
sortset
sortvec
itercategory1
advance1
distance1
iterswap1