*.o
*.lo
*.a
*.la
*.deps
*.libs
*.gz
*.orig
*~
.#*
.swp
autom4te.cache
config.log
config.status
config/config.h
config/stamp-h1
libtool
Makefile

# executables #
###############
lambda1
pair1
tuple1
tuple2
*ptr1
*ptr2
*ptr3
limits1
minmax1
ratio1
clock1
chrono1
chrono2
timepoint1
vector1
deque1
array1
*list1
list2
*set1
multimap1
unorderedmultiset1
unorderedmultimap1
associativearray1
*old
unorderedmultiset2
algo1
copy1
copy2
*iter1
remove1
remove2
remove3
remove4
foreach1
transform1
prime1
*sort1
*sort2
foreach2
add1
fo1
bind1
forwardlistfind2
forwardlistsplice1
*range1
setcmp1
map1
map2
mapcmp1
unordset1
unordmultiset1
hashfunc1
hashfunc2
unordinspect1
unordmultimap1
cstylearray1
refsem1
sortset
sortvec
itercategory1
advance1
dist*1
iterswap1
*iter2
*iter3
*iter4
*inserter1
advance2
sequence1
sequence2
foreach3
removeif1
compose3
bind2
fopow1
lambda2
lambda3
lambda4
lambda5
count1
find2
searchn1
search1
search2
findend1
findof1
*find1
equal1
*permutation1
mismatch1
lexicocmp1
*sorted1
ispartitioned1
*heap1
allanynone1
copy3
move1
transform2
swapranges1
fill1
generate1
iota1
replace1
replace2
unique1
unique2
unique3
reverse1
rotate1
rotate2
*shuffle1
partition1
partitioncopy1
nthelement1
binarysearch1
includes1
bounds1
*merge1
accumulate1
innerproduct1
partialsum1
adjacent*1
relabs1
random1
random2
complex1
complex2
string1